.notification-banner {
    position: fixed;
    top: 1px; /* Немного отступа от самого верха */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Центрирование по горизонтали */
    width: 50%; /* Ширина 50% страницы */
    background-color: #ffffff; /* Цвет фона */
    color: rgb(0, 0, 0); /* Цвет текста */
    text-align: center;
    padding: 8px 0; /* Компактные отступы */
    font-size: 14px; /* Уменьшенный шрифт */
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .notification-banner p {
    margin: 0; /* Убираем отступы внутри текста */
  }
  